
{% extends 'base.html' %}
{% block content %}
    <h1>Catálogo de Livros</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{ livro.codigo }}</td>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.ano }}</td>
                <td>
                    {% if livro.emprestado %}
                        Emprestado até {{ livro.data_devolucao.strftime('%d/%m/%Y') }}
                    {% else %}
                        Disponível
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
